# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Node / Vite
node_modules/
.cache/
dist/
frontend/.env
.DS_Store

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# OS files
Thumbs.db
.DS_Store
